@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

:root {
  --primary-white: #ffffff;
  --primary-light: #f0f0f0;
  --primary-lightgray: #dcdcdc;
  --primary-dark: #444444;
  --primary-black: #000000;

  --additional-yellow: #ffe17f;
  --additional-yellow-hover: #ffc700;
  --additional-purple: #af4fff;

  --status-error: #ff3d3d;
  --status-warning: #fd912e;
  --status-success: #08af00;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: var(--primary-white);
  color: var(--primary-dark);
}

.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: var(--primary-black);
}

.page-header {
  background-color: var(--additional-yellow);
}

.section-header {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--primary-black);
}

.navigation-list {
  list-style: none;
}

.search-form input {
  font-size: 16px;
  line-height: 20px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
}

.navigation-link {
  color: var(--primary-black);
  text-decoration: none;
}

.navigation-main .navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.promo-item-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--primary-black);
}

.promo-table-header {
  font-weight: 400;
  font-size: 16px;
}

.promo-table-cell {
  font-size: 36px;
  color: var(--primary-black);
}

.category-items {
  list-style: none;
}

.category-title {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--primary-black);
}

.services {
  background-color: var(--primary-light);
}

.service-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: var(--primary-black);
}

.special-delivery-title {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.delivery-companies {
  list-style: none;
}

.delivery-company {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--primary-black);
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-phone {
  color: var(--primary-dark);
  text-decoration: none;
}

.contacts-worktime {
  list-style: none;
}

.mail-subscription {
  background-color: var(--primary-light);
}

.subscription-form input {
font: inherit;
}

.page-footer {
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

.footer-adress-text {
  font-size: 16px;
  line-height: 19px;
}

.footer-navigation-list {
  list-style: none;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primary-white);
}

.footer-phone {
  color: var(--primary-white);
}

.footer-social {
  list-style: none;
}

.footer-social-button {
  color: var(--primary-white);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--primary-black);
}

.catalog-products {
  background-color: var(--primary-light);
}

.product-list-container {
  background-color: var(--primary-white);
}

.catalog-products-filter {
  font-family: "Raleway", sans-serif;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primary-black);
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--primary-black);
}

.catalog-filter-list {
  list-style: none;
}

.control {
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-black);
}

.catalog-products-sort {
  font-family: "Raleway", sans-serif;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primary-black);
}

.select-control {
  font: inherit;
  color: var(--primary-black);
}

.product-list {
  list-style: none;
}

.product-card-link {
  text-decoration: none;
  color: var(--primary-black);
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-price {
  font: inherit;
  line-height: 21px;
}

.upload-more-button {
  font-size: 16px;
  line-height: 19px;
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--primary-dark);
  opacity: 30%;
}
